@import dev.marksman.custombingobuilder.Settings
@(settings: Settings)(implicit request: RequestHeader)

@main("Custom Bingo Builder") {

    @helper.form(action = dev.marksman.custombingobuilder.controllers.routes.HomeController.generate, Symbol("enctype") -> "multipart/form-data") {
        @helper.CSRF.formField
        <div>
            <label for="template">
                Upload a template (<a href="@dev.marksman.custombingobuilder.controllers.routes.HomeController.templateHelp()">
                help</a>):</label>
            <input type="file" name="template" accept="text/html">
        </div>
        <div>
            <label for="wordlist" style="display: block;">Word list (1 per line, HTML is OK):</label>
            <textarea name="wordlist" rows="30" cols="120"></textarea>
        </div>
        <div>
            <label for="quantity">Number of cards (between 1 and @settings.maxCardsPerSheet):</label>
            <input type="number" id="quantity" name="quantity" min="1" max="@settings.maxCardsPerSheet" value="@settings.defaultCardsPerSheet">
        </div>
        <p>
            <input type="submit" value="Generate">
        </p>

    }
}
