<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Simple 5x5 Template</title>
        <style type="text/css">

    table {
        background-color: black;
        border-collapse: collapse;
        margin-bottom: 1em;
        margin-right: 1em;
        float: left;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
    }

    th {
        color: white;
        height: 60px;
        font-size: 32px;
    }

    td {
        background-color: white;
        width: 100px;
        height: 100px;
    }

</style>
        <style type="text/css" media="print">

</style>
<body>
        <!-- div with class "card-template" will be filled in and repeated -->
        <!-- elements with class "item" will be filled in with items from word list -->
        <!-- (the existing content, if any, will be replaced) -->
    <div class="card-template">
        <table>
            <thead>
                <tr>
                    <th colspan="5">BINGO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                </tr>
                <tr>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                </tr>
                <tr>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><strong>Free Space</strong></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                </tr>
                <tr>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                </tr>
                <tr>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                    <td><span class="insert-word"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
